/* You can add global styles to this file, and also import other style files */
.cp{
    cursor: pointer;
}

.fc_1{
    color: #ca1515;
}

.bgc_1{
    background-color: #ca1515;
}

@font-face {
    font-family:'Montserrat';
    src: url('../src/assets/fonts/Montserrat-VariableFont_wght.ttf');
}